.chatContainer {
    margin-top: 25px;
    margin-left: 15% !important;
    margin-right: 15% !important;
}
.chatLeft {
    text-align: justify;
    background-color: white;
    border: solid #BFBFBF 1px;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 25px;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2);
}
.chatRight {
    text-align: justify;
    background-color: white;
    border: solid #BFBFBF 1px;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 25px;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2);
}

.inputReponse {
    margin-top: 50px !important;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2) !important;
    -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2) !important;
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2) !important;
    border: solid #BFBFBF 1px !important;
    border-radius: 5px !important;
}

.dateMessageLeft {
    color: #575757;
    float: left;
    display: block;
    font-size: 10px;
    font-style: italic;
}
.dateMessageRight {
    color: #575757;
    float: right;
    display: block;
    font-size: 10px;
    font-style: italic;
}
