body{
	margin: auto;
	padding: 0;
}

.form-group{
display: inline-block;
width: 300px;
color : red;
}


#button-rechercher{
	margin: 20px;
}

#prix{
margin-top: 47px;

}

#carburant{
	margin-left: 14px; 
}

#recherche{
	
	height: 400px;
	width: 100%;
	background-image: url(../images/fond-recherche.jpg);
	
}

#textareaMessage{
	height: 200px;
}

#CacherLogin{
	display: none;
}

.modal-content{
	border-radius: 30px;
}

.logoCo {
	display: flex;
	justify-content: space-evenly;
	margin: 15px;
}

#loginh5{
	display: flex;
	justify-content: center;
	width: 100%;
}


#logoLogin img{
	width: 130px;
	height: 130px;


}

#logoLogin{
	display: flex;
	justify-content: center;
	margin-bottom: 15px;

}

#buttonLoginWith{
	display: flex;
	justify-content: center;
	margin-bottom: 5px;
}

.logoCo a{
	width: 80px;
	height: 80px;
	background:#fff;
	text-align: center;
	line-height: 80px;
	font-size: 35px;
	position: relative;
	cursor:pointer;
	overflow: hidden;
	border-radius: 50%;
	border: 3px solid #fff;
	z-index: 1;

}

.logoCo a .fa{
	position: relative;
	transition: 1.5s;
	color: #262626;
	z-index: 3;

}
.logoCo a:hover .fa {
 	transform: rotateY(360deg);
	color: #fff;
}

.logoCo a::before {
 	content: '';
	position: absolute;
	top:100%;
	left:0;
	width: 100%;
	height: 100%;
	transition: 1.5s;
	z-index: 2;
}

.logoCo a:hover::before {
	top: 0;
}

#twCo::before	{
	background: #55acee;
}

#fbCo::before	{
	background: #3b5999;
}

#gCo::before	{
	background: #dd4b39;
}

.separationOu{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 10px;
	margin-top: 2px;
}

.separationOu label{
	margin: 5px;
	background: #BDC3C7;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	text-align: center;
	color: white;
}

.separationOu::after, .separationOu::before{
	content: "";
	width: 44%;
	border-top: 2px solid black;

}

#nom_erreur p{
	color: red;
	font-size: 0.875rem;
	margin-left: 35px;
}

#email_erreur p{
	color: red;
	font-size: 0.875rem;
	margin-left: 35px;
}

#cPassword_erreur p{
	color: red;
	font-size: 0.875rem;
	margin-left: 35px;
}


#navEspaceMembre {
	width: 100%;
}

#navEspaceMembre li {
	width: 50%;
}

#navEspaceMembre li a {
	display: flex;
	justify-content: center;
	align-items: center;
}

#navEspaceMembre i {
	margin: 5px;
}


/****** INPUT DESIGN *****/

/*

.fieldDesign{
	height: 72px;
	position: relative;
	padding: 16px 0 8px 0;
}


.fieldDesign-label{
   position: relative;
   margin: 0;
   display: block;
   color:  #bfbfbf;
   line-height: 16px;
   font-size: 16px;
   font-weight: 400;
   transform: translateY(24px);
   transition: transform 0.3s, color 0.3s;
   transform-origin: 0 50%;
   font-family: Roboto;

}
 

.fieldDesign-input{
   position: relative;
   display: block;
   width: 100%;
   height: 32px;
   padding: 8px 0;

   line-height: 16px;
   font-family: Roboto;
   font-size: 16px;

   background: transparent;
   border: none;
   -webkit-appearance: none;
   outline: none;
}

.fieldDesign::after, .fieldDesign::before{
   content:'';
   height: 2px;
   width: 100%;
   position: absolute;
   bottom: 6px;
   left: 0;

   background-color: #e6e6e6;
}

.fieldDesign::after{
   background-color: blue;
   transform: scaleX(0);
   transition: transform 0.3s;
}


.has-label .fieldDesign-label{
   transform: translateY(0) scale(0.75);
}

.is-focused .fieldDesign-label{
   color: blue;


}
.fieldDesign.is-focused::after{
   transform: scaleX(1);


}



*/

 #euro{
 	padding: 10px;
 }

.imgDesign{

	width: 130px;
	margin: 10px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}


.img-fluid{
	
	height: 482px;
}

